@media (min-width: 640px) {
  article {
    padding: 0 !important;
  }
}

header {
  --header-padding: var(--space-8) !important;
}

article .title {
  text-align: center;
  font-size: var(--text-2xl-fontSize) !important;
}

.left :is(header .overlay):is(header .overlay) {
  padding: var(--space-4) !important;
}

.title + time {
  font-style: italic !important;
  font-size: 12px !important;
  text-align: center !important;
  display: flex;
  justify-content: center;
}

body {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
